{% extends 'base_layout.html' %}

{% block content %}
<div class="jumbotron text-white rounded bg-dark">
     <div class="container text-center">
        <h1 class="display-4 font-italic">{{ article.title }}</h1>         
        <p class="lead my-3 d-inline">Posted on </p>
        <p class="lead my-3 d-inline text-muted">{{article.date}}</p>
    </div>
</div>

<div class="container mx-auto article_detail">
    <p class="lead text-justify">
        {{article.body}}
    </p>
</div>

{% endblock %}