{% extends 'base_layout.html' %}

{% block content %}
    <div class="jumbotron text-white rounded bg-dark">
        <div class="container text-center">
          <h1 class="display-4 font-italic">Welcome to Django Blog</h1>
          
          <p class="lead my-3"> We cover all things Django, Hop on board and let us sail :)</p>
        </div>
      </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="display-4 mb-2 my-2">Article List</h1>
                <div>
                    {% for article in articles %}
                    <div class="card mb-4 box-shadow h-md-250">                        
                        <div class="card-header bg-white">
                            <h3 class="mb-0">
                                <a class = "text-dark" href="#">{{ article.title }}</a>
                            </h3>        
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <p class="lead">{{ article.snippet }}</p>
                                <p class="md-2"><a href="#">Continue reading</a></p>
                                <p class="text-muted">{{ article.date }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <h4 class="display-4 mb-2 my-2">Tags</h1>
            </div>
        </div>
    </div>    

{% endblock %}