{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Articles</title>
    <link rel="stylesheet" href={% static 'bootstrap/dist/css/bootstrap.min.css'%}>
    <link rel="stylesheet" type="text/css" href={% static 'css/style.css'%}>
    <link href={% static 'font-awesome/css/font-awesome.min.css'%} rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'home' %}">Django Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <ul>
                <li><a href="{% url 'articles:create' %}">Create Article</a></li>
            </ul>
            <ul>
                <li class="nav-item">
                    <form action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
            </ul>
            {% else %}
            <ul>
                <li><a href="{% url 'accounts:login' %}">Log In</a></li>
            </ul>
            <ul>
                <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
            </ul>
            {% endif %}
        </div>
    </nav>
    {% block content %} {% endblock %}

    <script src={% static 'jquery/dist/jquery.slim.min.js' %}></script>
    <script src={% static 'bootstrap/dist/js/bootstrap.min.js' %}></script>

    <script>
        jQuery(function ($) {
            $('img').addClass('img-fluid');
        });
    </script>
</body>

</html>